<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [4]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин <--
- 45530 мужчин и 24470 женщин

In [5]:
df[df['gender']==1].height.mean()

161.35561168460356

In [6]:
df[df['gender']==2].height.mean()

169.94789538210054

Hence, "2" corresponds to males and "1" to females

In [8]:
df.gender.value_counts()

1    45530
2    24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [121]:
#Average alcohol consumption by men
alco_men = df[df['gender']==2].alco.mean()

In [122]:
#Average alcohol consumption by women
alco_women = df[df['gender']==1].alco.mean()

In [132]:
print(alco_men - alco_women)

0.08087548270198401

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

In [129]:
df[(df['gender'] == 2)].smoke.mean()/df[(df['gender'] == 1)].smoke.mean()

12.257833097333833

In [130]:
df.pivot_table(['smoke'], ['gender'], aggfunc = 'mean')

           smoke
gender
1       0.017856
2       0.218880

In [131]:
df[(df['gender'] == 2)].smoke.mean()/df[(df['gender'] == 1)].smoke.mean()

12.257833097333833

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [20]:
df.age.mean()/365

53.33935839530332

Looks like the age is measured in days!

In [26]:
#Median age of those who don't smoke
age_no_smokers = df[df['smoke'] == 0].age.median()

In [30]:
#Median age of those who don't smoke
age_smokers = df[df['smoke'] == 1].age.median()
print((age_no_smokers-age_smokers)/30)

19.9

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [32]:
df['age_years'] = round(df['age']/365.25)

In [37]:
sub_df = df[(df['age_years'] <= 64.0) & (df['age_years'] > 60.0)]

In [40]:
sub_df.head(5)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
9,22113,1,157,93.0,130,80,3,1,0,0,1,0,61.0
12,22584,2,178,95.0,130,90,3,3,0,0,1,1,62.0
15,22530,1,169,80.0,120,80,1,1,0,0,1,0,62.0
32,23046,1,158,90.0,145,85,2,2,0,0,1,1,63.0
33,23376,2,156,45.0,110,60,1,1,0,0,1,0,64.0

In [55]:
sub1 = sub_df[(sub_df['ap_hi'] < 120) & (sub_df['cholesterol'] == 1)] 
sub2 = sub_df[(sub_df['ap_hi'] >= 160) & (sub_df['ap_hi'] <180) & (sub_df['cholesterol'] == 3)]
# Share of people with cardio sickness in sub1 
print(sub1['cardio'].mean())

# Share of people with cardio sickness in sub2
print(sub2['cardio'].mean())

# The difference between the two:
print("The share of people with cardio diseases in the highest risk group is ", round(sub2['cardio'].mean()/sub1['cardio'].mean()), 'times higer than in the group with lower risk ')

0.4557291666666667
0.8730964467005076
The share of people with cardio diseases in the highest risk group is  2 times higer than in the group with lower risk

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [56]:
df['bmi'] = df.weight/((df.height/100)**2)

In [59]:
df.bmi.median() # the median bmi in this sample is above the norm

26.374068120774975

In [66]:
df.pivot_table(['bmi'],['gender'], aggfunc = 'mean')

              bmi
gender
1       27.987583
2       26.754442

BMI among men is LOWER than among women

In [64]:
df.pivot_table(['bmi'],['cardio'], aggfunc = 'mean')

              bmi
cardio
0       26.548175
1       28.566061

In [67]:
df[(df['cardio'] == 0) & (df['alco'] == 0)].pivot_table(['bmi'],['gender'], aggfunc = 'mean')

              bmi
gender
1       26.845407
2       25.872638

Those who are ill have higher BMI

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [68]:
df.shape

(70000, 14)

In [74]:
df.height.quantile(0.975)

180.0

In [104]:
df_clean1 = df[(df['ap_hi'] > df['ap_lo'])]

In [109]:
df_clean2 = df_clean1[(df_clean1['height'] > int(df_clean1.height.quantile(0.025))) \
                      & (df_clean1['height'] < int(df_clean1.height.quantile(0.975)))]

In [111]:
df_clean3 = df_clean2[(df_clean2['age'] > df_clean2.age.quantile(0.025))\
                     & (df_clean2['height'] < int(df_clean2.age.quantile(0.975)))]

In [119]:
# Percentage of observations that has been filetered out
print(round(1 - df_clean3.shape[0]/df.shape[0],2)*100)

11.0